<div class='container mt-5'>
  <div>
    <h1 class='font main-text text-dark text-center mb-5'>Sign up</h1>
  </div>

  <div>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class='form-area'>
    <%= form_with model: @user, url: user_registration_path, local:true do |f| %>

    <div class='container pt-5 form-horizontal'>
      <div class="form-group row justify-content-center">
        <label class='control-label col-lg-4'>名前</label>
        <div class="field col-lg-4">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class='control-label col-lg-4'>メールアドレス</label>
        <div class="field col-lg-4">
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class='control-label col-lg-4'>性別</label>
        <div class="field col-lg-4">
          <%= f.label :sex, '男性', {class: "control-label"} %>
          <%= f.radio_button :sex, User.sexes.key(0), {class: "control-label mr-3 mt-2"} %>
          <%= f.label :sex, '女性', {class: "control-label"} %>
          <%= f.radio_button :sex, User.sexes.key(1), {class: "control-label mt-2"} %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class='control-label col-lg-4'>住まい</label>
        <div class="field col-lg-4">
          <%= f.select :address, User.addresses.keys, {prompt: '選択してください'} %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class='control-label col-lg-4'>パスワード</label>
        <div class="field col-lg-4">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class='control-label col-lg-4'>パスワード確認</label>
        <div class="field col-lg-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions text-center">
        <%= f.submit "Sign up", class:'btn btn-primary mt-5 font' %>
      </div>
    </div>
    <% end %>
  </div>
</div>