<div class='container col-lg-10 d-flex mt-5'>
  <div class='container mr-5 profile pt-3 pb-5 col-lg-4'>
    <div class='row justify-content-center mb-5'>
      <%= attachment_image_tag @user, :image, :fill, 100, 100, class: 'rounded-circle', fallback: 'noImage.jpg', size:'300x300' %>
    </div>
    <div class='row justify-content-center'>
      <label class='col-lg-3 text-center'>ユーザー名</label>
      <div>
        <%= @user.name %>
      </div>
    </div>
    <div class='row justify-content-center'>
      <label class='col-lg-3 text-center'>性別</label>
      <div>
        <%= @user.sex %>
      </div>
    </div>
    <div class='row justify-content-center'>
      <label class='col-lg-3 text-center'>住まい</label>
      <div>
        <%= @user.address %>
      </div>
    </div>
    <div class='row justify-content-center mt-3'>
      <%= @user.introduction %>
    </div>
    <div class='row justify-content-center mt-5'>
      <%= link_to '編集する', edit_user_path(@user.id), class: 'btn btn-warning mr-5' %>
      <%= link_to '退会する', unsubscribe_user_path(@user.id), class: 'btn btn-danger' %>
    </div>
  </div>

  <div class='container ml-5'>
    <div class="weather mb-3">
      <h3 class="weather__title text-center">天気予報</h3>
      <div class='d-inline-flex', id="weather"></div>
    </div>

    <div class='container'>
      <%= month_calendar events: @records do |date, records| %>
        <%= date.day %>
        <% records.each do |record| %>
        <div class='d-flex'>
          <% record.coordinate.registered_items.each do |registered_item| %>
            <% if registered_item.item.user.id == current_user.id %>
              <div class="popup-overlay">
                <div class="popup-content  text-center">
                  <div class='row box mb-5 mt-5'>
                    <%= link_to '詳細画面', coordinate_path(registered_item.coordinate.id), class: 'btn btn-warning mr-5' %>
                    <%= link_to '「今日着た」を解除', record_path(record.id), method: :delete, class: 'btn btn-danger ml-5', data: { confirm: '解除しますか？' } %>
                  </div>
                  <p class="close btn btn-secondary mr-3">Close</p>
                </div>
              </div>
              <%= attachment_image_tag registered_item.item, :image, :fill, 30, 30, class: 'image' %>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>