<div>
  <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: 'noImage.jpg', size:'300x300' %>
  <div>
    <label>ユーザー名</label>
    <div>
      <%= @user.name %>
    </div>
  </div>
  <div>
    <label>性別</label>
    <div>
      <%= @user.sex %>
    </div>
  </div>
  <div>
    <label>住まい</label>
    <div>
      <%= @user.address %>
    </div>
  </div>
  <div>
    <%= @user.introduction %>
  </div>
  <div>
    <%= link_to '編集する', edit_user_path(@user.id) %>
    link_to '退会する'
  </div>
</div>

<%= render 'users/weather', user: @user %>