<div class='container mt-5 col-lg-8 mb-5 title pb-1'>
  <h1 class='font main-text text-center'>MY ITEM</h1>
</div>

<div class='container mt-5 d-flex'>
  <div class='container col-lg-4 ml-5'>
    <%= attachment_image_tag @item, :image, :fill, 200, 200, class: 'shadow', size:'300x300' %>
  </div>

  <div class='container form-horizontal'>
    <div class='form-group row justify-content-center'>
      <label class='col-lg-2 text-center label-color text-light'>アイテム名</label>
      <div class='col-lg-4 field'>
        <%= @item.name %>
      </div>
    </div>
    <div class='form-group row justify-content-center'>
      <label class='col-lg-2 text-center label-color text-light'>ジャンル</label>
      <div class='col-lg-4 field'>
        <%= @item.genre %>
      </div>
    </div>
    <div class='form-group row justify-content-center'>
      <label class='col-lg-2 text-center label-color text-light'>カラー</label>
      <div class='col-lg-4 field'>
        <%= @item.color %>
      </div>
    </div>
    <div class='form-group row justify-content-center'>
      <label class='col-lg-2 text-center label-color text-light'>購入時価格</label>
      <div class='col-lg-4 field'>
        <% if @item.price.blank? %>
          <P>未設定</P>
        <% else %>
          <%= @item.price.to_s(:delimited) %>
        <% end %>
      </div>
    </div>
    <div class='form-group row justify-content-center'>
      <label class='col-lg-2 text-center label-color text-light'>ブランド名</label>
      <div class='col-lg-4 field'>
        <% if @item.brand.blank? %>
          <P>未設定</P>
        <% else %>
          <%= @item.brand %>
        <% end %>
      </div>
    </div>
    <div class='form-group row justify-content-center'>
      <label class='col-lg-2 text-center label-color text-light'>コメント</label>
      <div class='col-lg-4 field'>
        <% if @item.caption.blank? %>
          <P>未設定</P>
        <% else %>
          <%= @item.caption %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='container col-lg-6 mt-5 text-center'>
  <%= link_to '編集する', edit_item_path(@item.id), class:'btn btn-warning mr-5' %>
  <%= link_to '削除する', item_path(@item.id), method: :delete, class:'btn btn-danger', data: { confirm: '削除しますか？' } %>
</div>