<h1>質問・相談</h1>

<div>
  <%= form_with model: @post, url: posts_path, local:true do |f| %>
  <div>
    <label>タイトル</label>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>
  <div>
    <label>本文</label>
    <div>
      <%= f.text_field :text %>
    </div>
  </div>
  <div>
    <label>画像を添付</label>
    <div>
      <%= f.attachment_field :image %>
    </div>
  </div>
  <div>
    <%= f.submit '投稿する' %>
  </div>
  <% end %>
</div>
