<!DOCTYPE html>
<html>
  <head>
    <title>EasyFashion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <header>
      <div class='container-fluid col-lg-12 clearfix d-flex'>
        <div class='row'>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', size: '100x100', class: 'ml-5' %>
          <% end %>
        </div>
        <nav class='nav navbar navbar-expand-lg ml-auto'>
          <div class='row'>
            <% if user_signed_in? %>
            <ul class='navbar-nav'>
              <li>
                <%= link_to users_my_page_path(current_user.id) do %>
                  <%= attachment_image_tag current_user, :image, :fill, 50, 50, class: 'rounded-circle mr-3 shadow', fallback: 'noImage.jpg', size:'50x50' %>
                <% end %>
              </li>
              <li><%= link_to "My item", items_path, class: 'nav-text nav-link text-dark btn btn-light ml-3' %></li>
              <li><%= link_to "My coorde", coordinates_path, class: 'nav-text nav-link text-dark btn btn-light ml-3' %></li>
              <li><%= link_to "Posts", posts_path, class: 'nav-text nav-link text-dark btn btn-light ml-3' %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-text nav-link text-dark btn btn-light ml-3' %></li>
            </ul>
            <% else %>
            <ul class='navbar-nav'>
              <li><%= link_to "Sign up", new_user_registration_path, class: 'nav-text nav-link text-dark btn btn-light ml-3' %></li>
              <li><%= link_to "Log in", new_user_session_path, class: 'nav-text nav-link text-dark btn btn-light ml-3' %></li>
            </ul>
            <% end %>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
